
NEXT_PUBLIC_SUPABASE_URL=https://snshvyokkqlxaezsujln.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuc2h2eW9ra3FseGFlenN1amxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ0NDU3MTUsImV4cCI6MjA4MDAyMTcxNX0.yAXCg2qpAe0Xqq1eGvhyXBv1tEg6zn5Kkqta1rZGBLI
